{% extends 'asset/base.html' %}
{% block 'body' %}
{% load widget_tweaks  %}{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<center><fieldset>
<form method="POST" class="post-form" action="/login/updatecat/{{editcatform.id}}">
        {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>UPDATE CATEGORY</h3>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Category Name:</label>
    <div class="col-sm-4">
        <input type="text" name="cat_name" id="cat_name" required maxlength="200" value="{{ editcatform.cat_name }}"/>
    </div>
  </div>

    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" style="margin-left:6em;" class="btn btn-success">Update</button>
    </div>
  </div>
    </div>
</form>
</fieldset></center>
</body>
{% endblock %}
